
@{
    ViewBag.Title = "Mapa Vocaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Organizaciones", "Catalogo")">Organizaciones</a></li>
                <li class="tg-active">Mapa Vocaciones</li>
            </ol>
        </div>
    </div>
</div>

<!--************************************
                    Grid Start
            *************************************-->
<section class="tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mobileHide" style="width: 100%;">
                    <div style="width: 100%;">
                        <div style="position: relative; padding-bottom: 77.11%; padding-top: 0; height: 0;">
                            <img src="https://sestgpr.blob.core.windows.net/files/mapa_vocaciones.png" />                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--************************************
        Grid End
*************************************-->


