@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Usuarios", "Manage")">Usuarios</a></li>
                <li class="tg-active">Actualizar Contraseña</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-haslayout tg-Minisectionspace">
    <div class="tg-sectionhead">
        <div class="tg-sectiontitles">
            <h2>Se restableció la contraseña. </h2>           
        </div>
        <div class="tg-description">
            <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <center>
            <p>
                @Html.ActionLink("Haga clic aquí para regresar a la lista de usuarios", "Usuarios", "Manage")
            </p>
        </center>
    </div>    
</div>
