@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Acerca de nosotros</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-content" class="tg-content">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitles">
                        <h2>Hidalgo Emprende</h2>
                        <h3>Acerca de nosotros</h3>
                    </div>
                    <div class="tg-description">
                        <p></p>
                    </div>
                </div>
            </div>  
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widget tg-widgetprofile">
                            <figure>
                                <img src="~/Content/Images/public/Director.png" alt="image description">                                
                            </figure>
                            <div class="tg-themepostcontent">
                                <div class="tg-themeposttitle">
                                    <h4>Lic. Julio Rafael Bravo Bautista</h4>
                                </div>
                                <div class="tg-themeposttitle">
                                    <h3>Director</h3>
                                    <h3>Instituto Hidalguense de la Competitividad Empresarial</h3>
                                </div>      
                                <div class="tg-themeposttitle">
                                    <ul class="tg-contactinfo">                                        
                                    </ul>
                                    <ul class="tg-socialicons">
                                        <li class="tg-twitter"><a href="https://twitter.com/bravojulior" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>                                                                                                                         
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">                                      
                    <div class="tg-description">
                        <p>Empresarios, asesores, mentores, gobiernos municipales, instituciones educativas, coworkings space/hubs, centros de investigación, instituciones financieras,  aceleradoras de empresas, comunidades de emprendimiento, cámaras y organismos empresariales, incubadoras de empresas tradicionales y de alto impacto PRESENTES.</p>
                        <p>Por este medio les saludo y hago de su conocimiento información valiosa sobre la iniciativa <a class="tg-secendorycolor">Hidalgo Emprende Contigo</a> la cual es estrategia transversal del Gobierno del Estado en temas de emprendimiento y desarrollo de ecosistema emprendedor. Este proyecto es impulsado por El Instituto Nacional Del Emprendedor (INADEM), Secretaría de Desarrollo Económico del Estado de Hidalgo (SEDECO), el Instituto Hidalguense de la Competitividad Empresarial (IHCE), la Delegación de Economía en Hidalgo (SE) y el Consejo Coordinador Empresarial de Hidalgo (CCE).</p>
                        <p>El objetivo de esta iniciativa es detonar nuevos emprendimientos y la cultura de la innovación, a través del desarrollo y fortalecimiento del ecosistema emprendedor Hidalguense. Es decir, otorgando a los miembros del Ecosistema nuevas herramientas, estrategias o productos de atención al emprendedor para su mejor desempeño en esta PLATAFORMA DIGITAL.</p>
                        <p>Contamos con tu apoyo para ofrecer mejores oportunidades a nuestros emprendedores y empresarios.</p>
                    </div>                    
                </div>
            </div>
        </div>
     </div>
</div>