@{
    ViewBag.Title = "Contact";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Contacto</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-Minisectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitles">
                            <h2>CONSEJO ESTATAL RED DE APOYO AL EMPRENDEDOR</h2>
                            <h3>DEL INSTITUTO NACIONAL DEL EMPRENDEDOR (INADEM)</h3>
                        </div>
                        <div class="tg-description">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="tg-attorneys">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-themepost tg-expertpost">
                            <figure class="tg-themepostimg">
                            <a href="javascript:void(0);"><img src="~/Content/Images/demo/empr1.jpg" /></a></figure>                            
                            <div class="tg-themepostcontent">
                                <span class="tg-category"><a href="javascript:void(0);">Puesto</a></span>
                                <span class="tg-category"><a href="javascript:void(0);">Organización</a></span>
                                <div class="tg-themeposttitle">
                                    <h3><a href="javascript:void(0);">Nombre del contacto</a></h3>
                                </div>
                                <ul class="tg-contactinfo">                                    
                                </ul>
                                <ul class="tg-socialicons">                                    
                                    <li class="tg-twitter"><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>                                   
                                </ul>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-themepost tg-expertpost">
                            <figure class="tg-themepostimg"><a href="javascript:void(0);"><img src="~/Content/Images/demo/empr2.jpg" alt="image description"></a></figure>
                            <div class="tg-themepostcontent">
                                <span class="tg-category"><a href="javascript:void(0);">Puesto</a></span>
                                <span class="tg-category"><a href="javascript:void(0);">Organización</a></span>
                                <div class="tg-themeposttitle">
                                    <h3><a href="javascript:void(0);">Nombre del contacto</a></h3>
                                </div>
                                <ul class="tg-contactinfo"></ul>
                                <ul class="tg-socialicons">
                                    <li class="tg-twitter"><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-themepost tg-expertpost">
                            <figure class="tg-themepostimg"><a href="javascript:void(0);"><img src="~/Content/Images/demo/empr4.jpg" alt="image description"></a></figure>
                            <div class="tg-themepostcontent">
                                <span class="tg-category"><a href="javascript:void(0);">Puesto</a></span>
                                <span class="tg-category"><a href="javascript:void(0);">Organización</a></span>
                                <div class="tg-themeposttitle">
                                    <h3><a href="javascript:void(0);">Nombre del contacto</a></h3>
                                </div>
                                <ul class="tg-contactinfo"></ul>
                                <ul class="tg-socialicons">
                                    <li class="tg-twitter"><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tg-description tg-secendorycolor">
                    <p>La RAE INADEM se conforma de las diferentes organizaciones que integran al ecosistema emprendedor. Esta red permite interacciones en donde a emprendedores y empresarios se les puede hacer llegar de la manera más expedita, transparente y efectiva posible los diferentes apoyos que desde el gobierno federal, estatal, municipal se tienen disponibles, así como apoyos de empresas.</p>
                    <h3 style="text-align:center">Visita <a href="https://www.inadem.gob.mx">www.inadem.gob.mx</a></h3>                                        
                </div>                                       
            </div>
        </div>
    </div>
</div>