@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
  .mobileShow {display: none;}
   /* Smartphone show content */
  @@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
      .mobileShow {display: inline;}      
  }
</style>
<style type="text/css">
  .mobileHide { display: inline; }

  /* Smartphone hide content */
  @@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .mobileHide { display: none;}
  }
</style>

<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">
                            E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span>                            
                        </h2>                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<section class="tg-Minisectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitles">
                        <h2>¿Conoces tu ecosistema emprendedor?</h2>
                        <h3>Listado de Regiones</h3>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!--************************************
                    Events Start
            *************************************-->
<section class="tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" id="StatusEmpr" style="display:none" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                <div class="mobileHide" style="width: 100%;">
                    <div style="width: 100%;">
                        <div style="position: relative; padding-bottom: 77.11%; padding-top: 0; height: 0;">
                            <iframe frameborder="0" width="1573" height="1213" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ae38f7a7570e525eb0188ee" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                        </div>
                    </div>
                </div>
                <div class="tg-shortcode tg-trusted mobileShow">
                    <div class="tg-trustedclients">
                        <figure><a href="/Catalogo/ecosistema?region=1"><img style="max-height:110px" src="~/Content/Images/Regiones/r1.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=2"><img style="max-height:110px" src="~/Content/Images/Regiones/r2.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=3"><img style="max-height:110px" src="~/Content/Images/Regiones/r3.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=4"><img style="max-height:110px" src="~/Content/Images/Regiones/r4.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=5"><img style="max-height:110px" src="~/Content/Images/Regiones/r5.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=6"><img style="max-height:110px" src="~/Content/Images/Regiones/r6.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=7"><img style="max-height:110px" src="~/Content/Images/Regiones/r7.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=8"><img style="max-height:110px" src="~/Content/Images/Regiones/r8.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=9"><img style="max-height:110px" src="~/Content/Images/Regiones/r9.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=10"><img style="max-height:110px" src="~/Content/Images/Regiones/r10.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=11"><img style="max-height:110px" src="~/Content/Images/Regiones/r11.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=12"><img style="max-height:110px" src="~/Content/Images/Regiones/r12.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=13"><img style="max-height:110px" src="~/Content/Images/Regiones/r13.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=14"><img style="max-height:110px" src="~/Content/Images/Regiones/r14.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=15"><img style="max-height:110px" src="~/Content/Images/Regiones/r15.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=16"><img style="max-height:110px" src="~/Content/Images/Regiones/r16.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=17"><img style="max-height:110px" src="~/Content/Images/Regiones/r17.jpg" /></a></figure>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Seguimiento del emprendedor</h4>
                            </div>
                            <div class="modal-body">
                                <center><h5>Por favor, completa la siguiente información</h5></center>
                                <form action="">
                                    <div class="form-group">
                                        <p>Nombre completo</p>
                                        <input class="form-control" type="text"id="inputUserName" />
                                    </div>
                                    <div class="form-group">
                                        <p>Correo electronico</p>
                                        <input class="form-control" type="text" id="inputUserName" />
                                    </div>                                     
                                    <div class="form-group">
                                        <center>Selecciona una opción</center>
                                        <input type="radio" name="gender" value="male"><b> En busca de financiamiento</b><p>Breve descripción para dar una referencia al emprendedor sobre el estatus a seleccionar, este es un campo de solo texto y de preferencia de no más de 200 caracteres (longuitud de este texto de ejemplo)</p><br>
                                        <input type="radio" name="gender" value="female"><b> Cuenta con financiamiento</b><p>Breve descripción para dar una referencia al emprendedor sobre el estatus a seleccionar, este es un campo de solo texto y de preferencia de no más de 200 caracteres (longuitud de este texto de ejemplo)</p><br>
                                        <input type="radio" name="gender" value="other"><b> Otro</b><p>Breve descripción para dar una referencia al emprendedor sobre el estatus a seleccionar, este es un campo de solo texto y de preferencia de no más de 200 caracteres (longuitud de este texto de ejemplo)</p>
                                    </div>                                     
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
<!--************************************
        Events End
*************************************-->



<script>
    $(document).ready(function () {
        //Demo seguimiento al emprendedor (No se completo)
        //$("#StatusEmpr").click();
        $("#listaMunicipios").on("change", function () {
        // This is the jQuery way of finding selected option's text
        var m = $(this).find("option:selected").text();
        // Post the value to your server. You should do some error handling here
        $.post("/Home/SetRegion", {
            mun: m
        });
    });
    });
</script>

