@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
  .mobileShow {display: none;}
   /* Smartphone show content */
  @@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
      .mobileShow {display: inline;}      
  }
</style>
<style type="text/css">
  .mobileHide { display: inline; }

  /* Smartphone hide content */
  @@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .mobileHide { display: none;}
  }
</style>

<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">
                            E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span>                            
                        </h2>                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<section class="tg-Minisectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitles">
                        <h2>¿Conoces tu ecosistema emprendedor?</h2>
                        <h3>Listado de Regiones</h3>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!--************************************
                    Events Start
            *************************************-->
<section class="tg-haslayout">
    <div class="container">
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                
                <div class="mobileHide" style="width: 100%;">
                    <div style="width: 100%;">
                        <div style="position: relative; padding-bottom: 77.11%; padding-top: 0; height: 0;">
                            <iframe frameborder="0" width="1573" height="1213" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ae38f7a7570e525eb0188ee" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                        </div>
                    </div>
                </div>
                <div class="tg-shortcode tg-trusted mobileShow">
                    <div class="tg-trustedclients">
<<<<<<< HEAD
                        <figure><a href="/Catalogo/ecosistema?region=1"><img style="max-height:110px" src="~/Content/Images/Regiones/r1.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=2"><img style="max-height:110px" src="~/Content/Images/Regiones/r2.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=3"><img style="max-height:110px" src="~/Content/Images/Regiones/r3.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=4"><img style="max-height:110px" src="~/Content/Images/Regiones/r4.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=5"><img style="max-height:110px" src="~/Content/Images/Regiones/r5.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=6"><img style="max-height:110px" src="~/Content/Images/Regiones/r6.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=7"><img style="max-height:110px" src="~/Content/Images/Regiones/r7.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=8"><img style="max-height:110px" src="~/Content/Images/Regiones/r8.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=9"><img style="max-height:110px" src="~/Content/Images/Regiones/r9.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=10"><img style="max-height:110px" src="~/Content/Images/Regiones/r10.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=11"><img style="max-height:110px" src="~/Content/Images/Regiones/r11.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=12"><img style="max-height:110px" src="~/Content/Images/Regiones/r12.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=13"><img style="max-height:110px" src="~/Content/Images/Regiones/r13.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=14"><img style="max-height:110px" src="~/Content/Images/Regiones/r14.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=15"><img style="max-height:110px" src="~/Content/Images/Regiones/r15.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=16"><img style="max-height:110px" src="~/Content/Images/Regiones/r16.jpg" /></a></figure>
                        <figure><a href="/Catalogo/ecosistema?region=17"><img style="max-height:110px" src="~/Content/Images/Regiones/r17.jpg" /></a></figure>
=======
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r1.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r2.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r3.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r4.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r5.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r6.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r7.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r8.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r9.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r10.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r11.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r12.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r13.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r14.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r15.png" /></a></figure>
                        <figure><a href="javascript:void(0);"><img style="max-height:130px" src="~/Content/Images/Regiones/r16.png" /></a></figure>
>>>>>>> 3b6b15cef79ef56c529c0e04914aefb9470b9dcc
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--************************************
        Events End
*************************************-->



<script>
    $(document).ready(function () {
        $("#listaMunicipios").on("change", function () {
        // This is the jQuery way of finding selected option's text
        var m = $(this).find("option:selected").text();
        // Post the value to your server. You should do some error handling here
        $.post("/Home/SetRegion", {
            mun: m
        });
    });
    });
</script>

