
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Test</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-sectionhead">
                <div class="tg-sectiontitles">
                    <h2>¿En que etapa me encuentro?</h2>
                    <h3>Contesta las siguientes preguntas</h3>
                </div>
                <div class="tg-description">
                    <p></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-2 col-md-8 col-lg-9">
                <div class="tg-shortcode tg-askquestions">                    
                    <div class="row">                       
                            <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
                                <div class="tg-panel">
                                    <h4><span>1.-</span>Primera pregunta</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>2.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>3.</span>Tempor incididunt ut labore?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>4.</span>Dolore magna aliqua enim ad minim?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>5.</span>Veniam quis nostrud exercitation ullamco laboris?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>6.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>7.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>8.</span>Tempor incididunt ut labore?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>9.</span>Dolore magna aliqua enim ad minim?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span>10.</span>Veniam quis nostrud exercitation ullamco laboris?</h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <select>
                                                <option value="volvo">Opción 1</option>
                                                <option value="saab">Opción 2</option>
                                                <option value="mercedes">Opción 3</option>
                                                <option value="audi">Opción 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>                                            
                    </div>
                </div>               
                @*<input type="submit" value="Enviar" class="btn btn-primary" />*@
                <a href="/Test/Resultado" class="btn btn-primary"><i class="icon-exclamation-sign icon-white"></i>&nbsp;Enviar</a>
                <a href="/Test/Index" class="btn btn-danger"><i class="icon-exclamation-sign icon-white"></i>&nbsp;Cancelar</a>
            </div>
        </div>
    </div>
</div>
