
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Index", "Test")">¿En que etapa me encuentro?</a></li>
                <li class="tg-active">Resultados</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-sectionhead">
                <div class="tg-sectiontitles">
                    <h2>¿En que etapa me encuentro?</h2>
                    <h3>Resultados del test</h3>
                </div>                                   
            </div>
            <div class="col-xs-12 col-sm-offset-2 col-md-8 col-lg-9">   
                <div class="tg-haslayout tg-bgparallax" style="background-image:none">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                <div class="tg-calltoaction">
                                    <div class="tg-callheading">
                                        <div id="tg-skills" class="tg-skills">
                                            <div class="tg-skill" style="width:100%">
                                                <h4>Etapa del emprendedor:   </h4>
                                                <div class="tg-skillholder" style="background-color:#000" data-percent="75%">
                                                    <div class="tg-skillbar" style="background-color:#7cb0fe">
                                                        <h5 class="pull-right">3</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="tg-description">
                                        <p>
                                            Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua consectetur adipisicing eliosmod
                                            aratation incididunt tore dolore magn aliqua incididunt tore dolore.
                                        </p>
                                    </div>                                                                                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                                                                                                                                       
            </div>
        </div>
    </div>
</div>
@*--------------Filtro de empresas-------------------*@
<div class="tg-sectionspace">   
        <div class="row">            
            <div class="col-xs-12 col-sm-offset-2 col-md-8 col-lg-9">                           
                <div class="tg-awards tg-awards-v1">
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event1.jpg" />
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event2.jpg" alt="image description">
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event3.jpg" alt="image description">
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event4.jpg" alt="image description">
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event1.jpg" alt="image description">
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                    <div class="tg-award">
                        <figure>
                            <img src="~/Content/Images/demo/Event2.jpg" alt="image description">
                            <span class="tg-themepostlabel">Categoría</span>
                        </figure>
                    </div>
                </div>
            </div>
        </div>    
</div>
