
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Blog</li>
            </ol>
        </div>
    </div>
</div>
<!--************************************
                    Grid Start
            *************************************-->
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitles">
                        <h2>El Blog</h2>
                        <h3>Ecosistema emprendedor</h3>
                    </div>
                </div>
            </div>
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                    <div id="tg-content" class="tg-content">                        
                        <div class="tg-newsgrid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog1.jpg" />                                            
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="/Blog/Entrada">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog2.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog3.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog4.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog5.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog6.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog7.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog8.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <article class="tg-themepost tg-newsarticle">
                                        <figure class="tg-themepostimg">
                                            <time class="tg-time" datetime="2017-01-01">21 June</time>
                                            <img src="~/Content/Images/demo/blog9.jpg" alt="image description">
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">All Knowledge Begins With Wonder</a></h3>
                                            </div>
                                            <ul class="tg-postmatadata">
                                                <li><a href="javascript:void(0);"><i class="icon-user"></i><span>Terence Bloom</span></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><span>5234</span></a></li>
                                            </ul>
                                            <div class="tg-description">
                                                <p>Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua Consectetur adipisicing eliosmod temporat incididunt tore dolore magn aliqua.</p>
                                            </div>
                                            <a class="tg-btnreadmore" href="javascript:void(0);">leer más</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-btnarea">
                            <a class="tg-btn" href="@Url.Action("Evento", "Nuevo")">Agregar Entrada</a>
                        </div>
                        <div class="tg-widget tg-widgetsearch">
                            <form class="tg-formtheme tg-formsearch">
                                <fieldset>
                                    <div class="form-group tg-inputwithicon">
                                        <i class="icon-magnifier"></i>
                                        <input type="search" name="search" class="form-control" placeholder="Busqueda">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tg-widget tg-widgetcatagories">
                            <div class="tg-widgettitle">
                                <h3>Categoria</h3>
                            </div>
                            <ul>
                                <li>
                                    <a href="#"><span>Psd Design</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Html Template</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Wordpress</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Joomla</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>CMS</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Muse</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tg-widget tg-widgethotnews">
                            <div class="tg-widgettitle">
                                <h3>Últimas entradas</h3>
                            </div>
                            <ul>
                                <li>
                                    <div class="tg-themepost tg-postleftimg">
                                        <figure class="tg-themepostimg">
                                            <a href="javascript:void(0);"><img src="~/Content/Images/demo/blog1.jpg" alt="image description"></a>
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">Chase Your Dreams, You Might Catch One</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tg-themepost tg-postleftimg">
                                        <figure class="tg-themepostimg">
                                            <a href="javascript:void(0);"><img src="~/Content/Images/demo/blog2.jpg" alt="image description"></a>
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">Chase Your Dreams, You Might Catch One</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tg-themepost tg-postleftimg">
                                        <figure class="tg-themepostimg">
                                            <a href="javascript:void(0);"><img src="~/Content/Images/demo/blog3.jpg" alt="image description"></a>
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">Chase Your Dreams, You Might Catch One</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tg-themepost tg-postleftimg">
                                        <figure class="tg-themepostimg">
                                            <a href="javascript:void(0);"><img src="~/Content/Images/demo/blog4.jpg" alt="image description"></a>
                                        </figure>
                                        <div class="tg-themepostcontent">
                                            <div class="tg-themeposttitle">
                                                <h3><a href="javascript:void(0);">Chase Your Dreams, You Might Catch One</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Grid End
*************************************-->

<!--************************************
            Sin Resultados
*************************************-->
@*<div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="tg-404error">
                <div class="tg-404errorcontet">
                    <h1>404</h1>
                    <div class="tg-404holder">
                        <h2>Lo sentimos!</h2>
                        <h3>No existen entradas registradas en este momento</h3>
                    </div>
                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <form class="tg-formtheme tg-form404search">
                        <fieldset>
                            <div class="form-group">
                                <input type="search" name="search" class="form-control" placeholder="Busqueda">
                                <button class="tg-btn" type="submit">Buscar</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="tg-btnarea">
                        <a class="tg-btn" href="@Url.Action("Evento", "Nuevo")">Agregar Entrada</a>
                    </div>
                    <div class="tg-btngoback">
                        <span>ó</span><a href="@Url.Action("Index", "Home")">
                            Ir al inicio.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--************************************
        404 Error End
*************************************-->

